
@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: "Montserrat";
  src: url("../resources/fonts/montserrat-800.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal
}


html, *, body{
  margin: 0;
  font-family: "Montserrat";
}

.hero{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.hero__wrapper{
  position: absolute;
  top: calc(50% - 35vh);
  left: calc(50% - 35vw);
  width: 70vw;
  height: 70vh;
  background: red;
  display: flex;  
  flex-direction: column;
  box-sizing: border-box;
  background: rgba(229, 235, 245, 0.85);
  backdrop-filter: blur(9.5px);
  border-radius: 11px;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.hero::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-image: url(
    "/img/quiz/quiz-bg.jpg"
  );
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.hero__form{
  display: flex;
  flex-direction: column;
}

.hero__title{
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #434343;
  margin: 0;
  margin-bottom: 15px;
}

.hero__subtitle{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #434343;
  margin: 0;
  margin-bottom: 30px;
}

.green{
  color: #25D366;
}

.hero__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero__input{
  box-sizing: border-box;
  max-width: 400px;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  padding-left: 60px;
}

.hero__submit{
  background: #75C9EA;
  color: white;
  font-weight: 600;
}

.hero__checkbox-wrapper{
  max-width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #434343;
  display: flex;
  gap: 25px;
}

.hero__checkbox-wrapper a{
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.hero__phone{
  position: relative;
}


.hero__phone-wrapper{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero__phone-img{
  position: relative;
}

.hero__phone-img::before{
  content: '';
  position: absolute;
  top: calc(50% - 15px);
  left: 10px;
  width: 30px;
  height: 30px;
  background-image: url('/img/quiz/WhatsApp.svg');
  z-index: 5;
}

.hero__name-img{
  position: relative;
}

.hero__name-wrapper{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero__name-img::before{
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 15px;
  width: 19px;
  height: 20px;
  background-image: url('/img/quiz/proflie.svg');
  z-index: 5;
}

.hero__right{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.final .hero__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hero__left{
  max-width: 300px;
  position: relative;
}

.hero__left img{
  position: absolute;
  top: calc(-544px/2);
  left: -70px;
}

.final .hero__title{
  text-align: left;
  margin: 0;
}

.hero__social{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #FFFFFF;
  border-radius: 4px;
  width: 220px;
  height: 50px;
  color: #269ED1;
  text-decoration: none;
}

.hero__discription{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #434343;
}


@media (max-width: 1024px) {
  .hero__left{
    display: none;
  }
  .final .hero__wrapper{
    display: flex;
  }
  .hero__wrapper{
    width: 90vw;
    position: relative;
    left: 0;
    margin: 0 auto;
  }
}